 body {
     font-family: Arial, sans-serif;
     text-align: center;
     margin-top: 50px;
     background-color: rgb(238, 166, 166);
 }

 .board {
     display: grid;
     grid-template-columns: repeat(3, 100px);
     grid-template-rows: repeat(3, 100px);
     gap: 5px;
     justify-content: center;
 }

 .cell {
     width: 100px;
     height: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
     border: 2px solid rgb(99, 60, 60);
     font-size: 24px;
     cursor: pointer;
     background-color: rgb(35, 32, 32);
     color: rgb(240, 180, 180);
     box-shadow: 6px 4px 8px grey;
 }

 .cell.taken {
     pointer-events: none;
     cursor: not-allowed;
 }

 .message {
     margin-top: 20px;
     font-size: 20px;
 }

 .restart,
 .mode-selector {
     margin-top: 10px;
     padding: 10px 20px;
     font-size: 16px;
     cursor: pointer;
     background-color: black;
     color: lightcoral;
 }

 .mode-selector {
     margin-bottom: 20px;
 }